---
import GlobalLayout from "../layouts/globalLayout.astro";
---

<GlobalLayout>
  <div
    class="flex h-full min-h-screen flex-col items-center justify-center gap-4 overflow-y-auto px-4 py-8"
  >
    <h1 class="text-2xl font-bold lg:text-4xl">Modernized RCC</h1>
    <div class="mx-auto flex w-full flex-col items-start justify-center gap-4">
      <section
        class="mx-auto flex w-full max-w-md flex-col gap-3 text-center"
        data-elementID-RCC-Parent
      >
        <h2 class="font-semibold">React Class Components</h2>
        <a
          href="/react-rcc"
          class="mx-auto rounded border-2 px-4 py-3 text-sm hover:border-white hover:bg-white hover:font-bold hover:text-purple-800"
          >Go to the RCC page</a
        >
      </section>
    </div>
  </div>
</GlobalLayout>
