---
import GlobalLayout from "../layouts/globalLayout.astro";
import Lister from "@/components/react-rcc/lister";

const demoMessage = {
  title: "Hello World",
  body: "This is a demo message",
  tikked: 0,
};
const demoMessages = Array.from({ length: 6 }, () => demoMessage);
---

<GlobalLayout title="Home" subtitle="WWYUT Stack">
  <div
    class="flex min-h-screen flex-col items-center justify-center gap-4 px-4 py-4"
  >
    <h1 class="text-2xl font-bold lg:text-4xl">Modernized RCC</h1>
    <div
      class="mx-auto flex w-full flex-col items-start justify-center gap-4 lg:flex-row"
    >
      <section
        class="mx-2 flex w-full max-w-md flex-col gap-3 text-center"
        data-elementID-RCC-Parent
      >
        <h2 class="font-semibold">React Class Components</h2>
        {
          demoMessages.flatMap((item) => (
            <Lister
              initialTS={new Date().getTime()}
              message={item}
              tikInterval={1250}
              maxTikkedMs={10000}
              keepTikking={true}
              client:idle
            />
          ))
        }
      </section>
    </div>
  </div>
</GlobalLayout>
