---
import JQueryItem from "@/components/jquery-actions/jq-item";
import GlobalLayout from "@/layouts/globalLayout.astro";
---

<GlobalLayout title="jquery-actions">
  <div
    class="flex h-full min-h-screen flex-col items-center justify-center gap-4 overflow-y-auto px-4 py-8"
  >
    <h1 class="text-2xl font-bold lg:text-4xl">jQuery</h1>
    <div class="mx-auto flex w-full flex-col items-start justify-center gap-4">
      <section
        class="mx-auto flex w-full max-w-md flex-col gap-3 text-center"
        data-elementID-Home-Parent
      >
        <h2 class="font-semibold">Some jQuery items</h2>
        <JQueryItem client:idle />
      </section>
    </div>
  </div>
</GlobalLayout>
