---
import "@/styles/tailwind.css";

import { appConfig } from "@/config/app";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | {appConfig.branding.name}</title>
  </head>
  <body>
    <main class="inset-0 min-h-screen" data-elementID-globalRoot>
      <slot />
    </main>
  </body>
</html>
