---
import "@/styles/tailwind.css";

import { appConfig, type PageTitle } from "@/config/app";
import Navbar from "@/components/react-rcc/navbar";

interface Props {
  title: PageTitle;
}

const { title } = Astro.props;
const { pathname } = Astro.url;

const pageSpecificDesc = Object.entries(appConfig.meta.desc.specific).find(
  (entry) => entry[0] == title,
);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>
      {title ? title + appConfig.meta.title.separator : ""}{
        appConfig.meta.title.branding
      }
    </title>
    <meta
      name="description"
      content={pageSpecificDesc
        ? String(pageSpecificDesc[1])
        : appConfig.meta.desc.default}
    />
  </head>
  <body>
    <Navbar pathname={pathname} />
    <main class="inset-0 min-h-screen" data-elementID-globalRoot>
      <slot />
    </main>
  </body>
</html>
